* {
    margin: 0;
    padding: 0;

}

/* #wrap {
    width: 1024px;
    height: 768px;
    margin: 0px auto;
    font-family: 'Nanum Gothic', sans-serif;

}

#logo {
    width: 680px;
    height: 360px;
    margin: 10px auto;
}

#logo>img {
    width: 659px;
    height: 356px;
} */

#footer_area {
    width: 1024px;
    height: 200px;
    background-color:antiquewhite;
    margin-top: 200px;
    border-top: 1px solid lightgray;
    /* display: none; */

}

#cartin {
    width: 800px;
    height: 190px;
    float: left;
    /* position: relative; */

    
}

#cart_list {
    width: 800px;
    height: 190px;
    overflow: scroll;
    /* position:absolute; */
    font-size: 0.8em;
}


#event_area {
    width: 210px;
    height: 190px;
    float:right;
}

input[type=button] {
    width:206px;
    height: 49px;
    margin: 20px auto;
    border-radius: 30px;
    color: azure;
    font-size: 20px;
}

#return_startscreen {
    background-color: dimgray;
}

#payment {
    background-color: orange;
}